@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;
    font-family: Poppins,Tahoma;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links{
    list-style: none;

}

.nav-links li{
    margin:0 30px;
}

.nav-links li a{
    text-decoration: none;
    color: whitesmoke;
}

.logo{
    color: azure;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url("img/header-bg.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    color: aliceblue;
    text-align: center;
}

.header-content h3{
    font-size: 6vmin;
}

.header-content h1{
    margin-bottom: 25px;
}

.line{
    width: 150px;
    height: 2px;
    background-color: red;
    margin: 15px auto;
}

.ctn{
    padding: 8px 15px;
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    color: whitesmoke;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.event-body{
    width:80%;
    margin: 30px auto;
}

.event-content{
    text-align: center;
    font-size: 4vmin;
}

.row-1{
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.row-2{
    display: flex;
    gap: 35px;
    margin-top: 20px;
}

.row-3{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.explore-sect{
    width: 100vw;
    height: 100vh;
    background-image: url("img/bg2.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: whitesmoke;
}

.explore-content{
    padding-left: 100px;
    padding-bottom:200px;
    font-size: 6vmin;
}
.explore-content article{
    font-size: 2vmin;
}
.explore-line{
    margin-left: 100px;
    margin-bottom: 50px;
}

.tour-main{
    width:80%;
    margin: 30px auto;
    display: flex;
}
.tour-content{
    width: 50%;
    margin-top: 40px;
}
.tour-content h1{
    font-size: 7vmin;
}
.tour-line{
    margin-left: 10px;
}
.tour-content article{
    font-size: 3vmin;
    margin-bottom: 20px;
}
.tour-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.img1,.img3{
    padding-right: 5px;
}

.footer-main{
    width: 100%;
    height:120px;
    background-color: #484872;
    text-align: center;
}
.footer-content{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
.footer-content p{
    padding-top: 30px;
}

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .row {
        display: flex;
        flex-flow: column wrap;
    }
    .row>.ctn{
        width: 120px;
        margin: 20px auto;
    }
    
    .explore-sect{
        width: 100%;
    }
    .tour-main{
        display: flex;
        flex-flow: column wrap;
    }
    .tour-img{
        width: 90%;
        margin-top: 10px;
    }
}

img{
    transition: transform 0.5s ease-out;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: tomato;
    box-shadow: 2px 2px 5px rgb(34, 1, 1);
}
li>a:hover{
    color: rgb(216, 49, 49);
    cursor: pointer;
}
